@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

 /* 先隱藏手機板 */
 #navbar_mobile_1 {
    display: none;
}

 /* 設定電腦的navbar寬度大小 */
 #navbar_1 {
    width: 100%;
    height: 140px;
    background-color: white;
    /* logo區塊大小 */
    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }
     /* logo尺大小 */
    .image {
        width: 300px;
        height: 80px; 
    }
    /* 功能列 */
    /* 區塊大小 */
    .main_list {
        width: 100%;
        /* 文字區塊放置和大小 */
        ul {
            display: flex;
            justify-content: center;
            list-style: none;
            /* 文字區塊間距 */
            li {
                padding-right: 2rem;
                /* 文字大小顏色 */
                a {
                    text-decoration: none;
                    color: black;
                    line-height: 35px;
                    font-size: 1rem;
                    &:hover{
                        color: #00E676;
                    }
                }
            }
        }
    }
}

 /* 滑樹滑動的效果 */
 #navbar_1.fixed {
        width: 100%;
        background-color: white;
        height: 100px;
        position: fixed;
        z-index: 999;
        transform: 0.10s;
        -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
        /* 功能列logo尺寸大小 */
        .image {
            width: 200px;
            height: 50px;
        }
         /* 功能列字型大小 */
        .main_list ul li a {
            font-size: 0.8rem;
        }
    }

 @media screen and (max-width:$lg) {
    #navbar_1 {
        display: none;
    }

    .b {
        width: 100%;
        height: 50px;
    }

    .navbarTrigger {
        display: block;
    }

    #navbar_mobile_1 {
        display: block;
        width: 100%;
        height: 50px;
        background-color: white;
        position: fixed;
        /* 釘在最上方 */
        top: 0;
        right: 0;
        left: 0;
        z-index: 200;
        .container {
            margin: 0;
        }
        /* 平板與手機logo尺寸大小 */
        .logo{
            display: flex;
            justify-content: center;
            width: 100%;
            text-align: center;
        }
        .image {
                width: 250px;
                height: 50px;
                text-align: center; 
                padding-left: 47px;  
        }
        

        /* 隱藏功能列 因為要換下拉式選單 */
        .main_list {
            width: 100%;
            height: 0;
            overflow: hidden;
             /* 下拉選單顏色大小 */
            ul{
                flex-direction: column;
                width: 100%;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.7);
                list-style: none;
                li{
                    width: 100%;
                    text-align: center;
                    a{
                        text-align: center;
                        width: 100%;
                        font-size: 1rem;
                        padding: 20px 20px 20px 0;
                        text-decoration: none;
                        color: white;
                        line-height: 65px;
                        &:hover{
                            color: #00E676;
                        }
                    }
                }
            }
        }
        .show_list {
            height: auto;
            display: none;
        }
        .media_button {
            display: block;
        } 
        .cart{
            cursor: pointer;
            margin: auto;
            position: absolute;
            right: 15px;
            top: 17px;
        }  
    }
}

// 為了手機板logo置中
@media screen and (max-width:$sm) {
    .image {
            width: 250px;
            height: 50px;
            padding: 0 25px 0 25px;  
    }   
}

/* Animation */
.navbarTrigger {
    cursor: pointer;
    width: 20px;
    margin: auto;
    position: absolute;
    top: 15px;
}

.navbarTrigger i {
    background-color: #000;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 3px;
}

.navbarTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navbarTrigger i:nth-child(2) {
    margin: 6px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navbarTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navbarTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navbarTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navbarTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

#topCM {
    height: 23px;
    background: #000;
    top: 0;
    text-align: center;
}

#marquee {
    margin: 0 auto;
    display: block;
    left: 20%;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

/* 另外的 */
#marquee {
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 25px;
    ul{
        text-align: center;
        margin: 0;
        padding: 0;
        list-style: none; 
        position: absolute;
        li{
            a{
                display: block;
                overflow: hidden;
                letter-spacing: 0.3em;
                font-size: 12px;
                height: 25px;
                line-height: 25px;
                text-decoration: none;
                color: #FFF;
            }
        }
    }
    li{
        text-align: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }
}
