#section_2 {
    padding-top: 60px;
    .mix{
        width: 100%;
    }
    hr{
        width: 100px;
        text-align: center;
    }    
}

#section_2_mobile{
    display: none;
}

// 手機版
@media screen and (max-width:$sm){
    #section_2{
        display: none;
    }
    #section_2_mobile{
        display: block;
        padding-top: 50px;
        .mix{
            width: 100%;
        } 
        hr{
            width: 100px;
            text-align: center;
        }
    }
}


