body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "微軟正黑體", sans-serif;
}

/********************************
 * 默認顔色設定
 *******************************/
$bg_color: #f4f7fb;
$navbar_color: rgba(255, 255, 255, 0.5);
$navbar_hover: #007bff;
$button_color: #007bff;
$button_hover: #314ccd;
$white: #fff;
$navbar_navshow: rgba(0, 0, 0, 0.5);
$icon_color: #eee;
$blank: #000;
$footer_title: #7290ac;
$footer_bottom_color: rgba(31, 51, 73, 0.5);

/********************************
 * 螢幕寬度大小
 *******************************/
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 540px;
$xs: 320px;

/********************************
 * 按鈕設置
 *******************************/
.btn {
  margin: 0;
  font-weight: 700;
  color: $white;
  background: $button_color;
  width: 180px;
  padding: 12px 24px;
  border-radius: 9999px;
  font-size: 12px;
  line-height: 18px;
  transition: background-color 0.125s, border-color 0.125s, color 0.125s;
  border: none;
  cursor: pointer;
  &:hover {
    background: $button_hover;
    color: $white;
  }
}

/********************************
 * 區塊設置
 *******************************/
section {
  padding: 80px 30px;
  &.bg_color {
    background: $bg_color;
  }
  h3 {
    font-weight: 800;
  }
  .section-image {
    padding-top: 40px;
    max-width: 100%;
  }
}
@media screen and (max-width: $md) {
  section {
    h3 {
      font-weight: 800;
      font-size: 24px;
    }
    padding: 40px 30px;
    .section-image {
      padding-top: 0px;
      width: 100%;
    }
  }
}

.clearfix {
  clear: both;
}
