//電腦版
.title{
    display: flex;
    justify-content: center;
}

hr{
    width: 100px;
    text-align: center;
}

#section_1 {
    padding-top: 100px;
    // 區塊間距
    img{
        width: 100%;
        padding-top: 20px;
    }
}









