#section_3{
  // display: block;       
  // width: 100%;
  img{
    width: 100%;
  }
  .tabs{
    display:none;
  }
  .show{
    display:block;
    font-weight: bold;
  }
  .section_3_left{
    padding-right: 15px;
    padding-left: 15px;
  } 
  .section_3_right{
    padding-left: 15px;
    padding-right: 15px;
  }
  .btn_footer{
    height: 25%;
    position: relative;
    color: #000;
    border: 1px solid #ccc;
    letter-spacing: 1px;
    background-color: inherit;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 12px;
    padding: 18px 5px;
    &:hover{

      outline: 5px solid #777;
    }
  }
}

@media screen and (max-width: 1018px){
  .section_3_left, .section_3_right{
    width: 100%;
  }
}

@media screen and (min-width: 1920px){
  #section_3 .btn_footer {
    padding: 35px 5px;
  }
}