/* ABOUT */
.about{
    position: flex;
    a {
        text-decoration: none;
        color: white;
        &:hover {
            color: #03a9f4;
        }
    }
    .button_about_1 {
        position: absolute;
        height: 20px;
        width: 100px;
        bottom: 120px;
        left: 12px;
        cursor: pointer;
        p{
            position: absolute;
            left: 50%;
            top: 15%;
            transform: translateX(-50%) translateY(-50%);
            color: #13AE67;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
    }
    .button_about_2 {
        position: absolute;
        height: 40px;
        width: 150px;
        cursor: pointer;
        bottom: 0;
        p {
            position: absolute;
            left: 50%;
            top: 15%;
            transform: translateX(-50%) translateY(-50%);
            color: #fff;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
    }
    .overlay_about {
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgb(0,0,0);
        background: #13AE67;
        .content {
            font-size: 16px;
            color: #fff;
            text-align: center;
        }
        h1{
            color: #fff;
            padding: 80px 0;
            text-align: center;
        }
    }
}
  
  
