* {
    box-sizing: border-box;
    clear: both;
    font-family: "Microsoft JhengHei", "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
  
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 568px;
  background-color: black;
  /* 關閉捲軸 */
  overflow-y: hidden;
  overflow-x: hidden;
}

//設定螢幕大小
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px; 