*{
    box-sizing: border-box;
    font-family: 'Microsoft JhengHei', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background: #5264AE;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* 分頁-背景 */
.form {
    background: rgba(255, 255, 255, 1);
    padding: 40px;
    max-width: 500px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    text-align: center;
}
/* 分頁-按鈕 */
.tabs{
    display:none;
}
.show{
    display:block;
    font-weight:bold;
}
h3{
    color: #5264AE;
    font-size: 25px;
}
a{
    text-decoration: none;
}
.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
}
.tab-group li{
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}
.tab-group li:hover {
    background: #5264AE;
    color: #ffffff;
}
.tab-group .active{
    display: block;
    background: #5264AE;
    color: #ffffff;
}
.tab-content > div:last-child {
    display: none;
}
  

/* 輸入框 */
.group{
    position: relative;
    margin-bottom: 45px;
}
.group input{
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
}
/* 正在輸入時的 */
.group input:focus{
    outline: none;
}
/* label-name */
.group label{
    color: #999;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
/* active state 停留的點 */
.group input:focus ~ label, .group input:valid ~ label{
    top: -20px;
    font-size: 14px;
    color:#5264AE;
}
/* bar */
.group .bar{
    position: relative;
    display: block;
    width: 100%;
}
.group .bar:before, .group .bar:after{
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.group .bar:before{
    left: 50%;
}
.group .bar:after{
    right: 50%;
}

/* active state 停留的點 */
.group input:focus ~ .bar:before, .group input:focus ~ .bar:after{
    width: 50%;
} 
/* HIGHLIGHTER */
.group .heightlight{
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state 停留的點 */
.group input:focus ~ .group .heightlight{
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.group span{
    color: red;
}

/* 按鈕 */
input.send {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 10px;
    font-weight: 600;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 12px;
    background: #5264AE;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.send:hover{
    background: #E7ECEB;
    color: #A0B3B0;
}
.send:focus {
    background: #5264AE;
}
.button-block {
    display: block;
    width: 100%;
}
.listcolor{
    color: #fff;
    background: #000;
    padding: 10px;
}


@media screen and (max-width: 520px){
    /* label, .bar{
        width: 100px;
    } */
  
}