body {
    font-family: 'Microsoft JhengHei', sans-serif;
    margin: 0;
    padding: 0;
    background: url("../img/2019-01-31-02.jpg");
    background-size: cover;
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 40px;
   
  }
  
  .bmi {
    padding: 10px 50px;
    display: flex;
    flex-direction: row;
    background: #424242;
  }
  .bmi .box1 {
    flex: 33.33%;
    height: auto;
    text-align: right;
  }
  .bmi .box1 img {
    height: auto;
    padding-top: 20px;
    padding-right: 30px;
  }
  .bmi .box2 {
    flex: 33.33%;
    height: auto;
  }
  .bmi .box2 .bodyHeightWeight {
    list-style: none;
    color: #FFD366;
    padding: 10px;
    text-align: center;
  }
  .bmi .box2 .bodyHeightWeight div {
    padding: 1px;
  }
  .bmi .box2 .bodyHeightWeight div input {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #FFD366;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 5px 0px;
    transition: all .100s;
  }
  .bmi .box2 .bodyHeightWeight div input:focus {
    background: #FFD366;
    outline: none;
  }
  .bmi .box3 {
    flex: 33.33%;
    height: auto;
    text-align: left;
    padding-top: 15px;
    padding-left: 30px;
  }
  .bmi .box3 .btnClass {
    background: #FFD366;
    -webkit-transition: box-shadow 0.2s ease;
    -moz-transition: box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    text-align: left;
    height: 140px;
    width: 140px;
    line-height: 140px;
  }
  .bmi .box3 .btnClass:hover {
    box-shadow: 0 0 0 7px #FFD366;
    background: transparent;
  }
  .bmi .box3 .btnClass:active {
    box-shadow: 0 0 0 7px red;
    background: transparent;
  }
  .bmi .box3 .btnClass a {
    text-decoration: none;
    color: #424242;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 20px;
  }
  .bmi .box3 .btnClass a:hover {
    border-radius: 50%;
    color: #FFD366;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    bottom: 0;
    box-shadow: 0 0 0 1px #fff;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
 /* 外圈 */
  .you-result{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* padding-top: -25px; */
  }
  .youresultbtnClass{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* padding-top: -25px; */
  }
  .result{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border-width: 6px;
    border-style: solid;
    position: relative;
    margin-top: -6px;
  }
  .result p.text{
    text-align: center;
    position: absolute;
    top: 55px;
    right: 0;
    bottom: 0;
    left: 35px;
    font-size: 20px;
  }
  .result p.bmi-result{ 
    text-align: center;
    position: absolute;
    top: 15px;
    right: 0;
    bottom: 50px;
    left: 0;
    font-size: 30px;
  }
  .result .reflesh{
    position: absolute;
    left: 80%;
    top: 65%;
    border: 2px solid #424242;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 14px;
    color: #424242;
  }
  .result .reflesh i{
    position: absolute;
    bottom: 8px;
    left: 8px;
    cursor: pointer;
  }
  .result .reflesh i:hover{
    color: #FFD366; 
    font-weight: 900;
  }

  /* 外圈顏色 */
  .color-UnderWeight {
    border-color: #31baf9; 
  }
  .color-UnderWeight p {
    color: #31BAF9; 
  }
  
  .color-Health {
    border-color: #86d73f; 
  }
  .color-Health p {
    color: #86d73F; 
  }
  
  .color-OverWeight {
    border-color: #ff982d; 
  }
  .color-OverWeight p {
    color: #FF982D; 
  }
  
  .color-MildObesity {
    border-color: #ff6c03; 
  }
  .color-MildObesity p {
    color: #FF6C03; 
  }
  
  .color-ModerateObesity {
    border-color: #ff6c03; 
  }
  .color-ModerateObesity p {
    color: #FF6C03; 
  }
  
  .color-SevereObesity {
    border-color: #ff1200; 
  }
  .color-SevereObesity p {
    color: #FF1200; 
  }
/* 結束外圈 */
  
  h1 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  }
  
  .list {
    justify-content: center;
  }
  .list li {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .green{
    border-left: 5px solid #86D73F;
  }
  .blue{
    border-left: 5px solid #31BAF9;
  }
  .lightorange{
    border-left: 5px solid #FF982D;
  }
  .darkorange{
    border-left: 5px solid #FF6C03;
  }
  .red{
    border-left: 5px solid #FF1200;
  }
  .list .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .list .col-1 {
    font-size: 10px;
    color: #6C7A89;
    margin-top: 4px;
    margin-right: 4px;
  }
  .list .col-2 {
    flex-basis: 40%;
  }
  .list .col-3 {
    flex-basis: 25%;
  }
  .list .col-4 {
    flex-basis: 25%;
  }
  .list .col-5 {
    flex-basis: 30%;
  }
  .list a {
    background: #FFD366;
    padding: 10px 20px;
    border-radius: 2px;
    text-align: center;
    color: #424242;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  .list a:hover {
    background: #424242;
    color: #FFD366;
  }
  .list .btnMobile {
    display: none;
  }

  /* 無任何紀錄 */
  .text{
      text-align: center;
      margin-left: -40px;
  }
  
  .footer {
    background: #FFD366;
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    /* position: fixed; */
    bottom: 0;
    /* z-index: 999; */
  }
  .footer .footer-text{
    color: #6C7A89;
    font-size: 8px;
    margin-top: 40px;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      margin-left: auto;
      margin-right: auto;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .list{
        padding: 0;
    }
    .list .table-header {
      display: none;
    }
    .list li {
      display: block;
    }
    .list .col {
      flex-basis: 100%;
    }
    .list .col {
      display: flex;
      padding: 10px 0;
    }
    .list .col:before {
      color: #6C7A89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
    .list #hiddenClass {
      display: none;
    }
    .list .btnMobile {
      display: block;
      text-align: center;
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 600px) {
    .bmi {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      /* height: 100vh; */
    }
  
    .bodyHeightWeight {
      text-align: center;
    }
    .bmi .bodyHeightWeight div input {
        margin-left: -30%;
    }
    .box1 {
        padding-top: 50px;
        padding-left: 30px;
        margin: auto;
    }
    .bmi .box3 {
        margin: 0 auto;
        margin-bottom: 50px;
        padding-top: 0px;
        padding-left: 0px;
    }
      /* 無任何紀錄 */
    .text{
        text-align: center;
        margin-left: 0px;
    }
  }
  