#section_1{

    .section_1_left{
        // padding-left: 1rem;
        line-height: 2rem;        
        p{
            text-align: justify;
            
        }
    }
    .section_1_right{
        padding-left: 1rem;
        img{
            width: 100%;
            border-radius: 0.5rem;
            box-shadow: 0 1.5rem 7.5rem 0 rgba(0,0,0,0.15);
        }
    } 
}

@media screen and (max-width: 768px){
    .section_1_left, .section_1_right{
      width: 100%;
    }

    .section_1_left{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .section_1_right{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}