.clearfix {
  clear: both;
}

body {
  background: #293b29;
  color: #fff;
}
.clock {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 100px auto;
  background: url(../img/clock-bg.svg) no-repeat center;
  img{
    display: block;
    position: absolute;
  }
  #second {
    z-index: 3;
    top: 48%;
    left: 48%;
    transform-origin: 50% 2%;
  }
  #minute {
    z-index: 2;
    top: 23%;
    left: 48.8%;
    transform-origin: 50% 95%;
  }
  #hour {
    z-index: 1;
    top: 48%;
    left: 49%;
    transform-origin: 5% 50%;
  }
}
