.setion_portfolio {
    color: #13AE67;
    text-decoration: none;
    list-style: none;
    letter-spacing: 1px;
    font-size: 14px;
    writing-mode: vertical-lr;
}

.setion_portfolio:hover {
    color: #fff;
} 