#footer{
    background-color: $bg_gray;   

    h5{
        i{
            margin-right: 1.2rem;
            color: $gold;
        }
    }

   .footer_text_img{
    line-height: 2.4rem;
    margin-right: 1.5rem;
   }

    .footer_text{
        line-height: 3rem;
        &:hover{
            color: $gold;
        }
        i{
            margin-right: 1.2rem;
        }
    }  
}

#footer_bottom{
    .copying{
        float: left;
        background-color: $white;
        a{
            color: $gold;
            text-decoration: none;
        }
    }
    .social_media{
        float: right;
        background-color: $white;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        background-color: $bg_gray;
        border-radius: 0.2rem;
        padding: 1rem;

        &:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }

        .tooltiptext {
            visibility: hidden;
            width: 8rem;
            background-color: $black;
            color: $white;
            text-align: center;
            border-radius: 0.6rem;
            padding: 0.5rem;
        
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
            margin-left: -6rem;
            bottom: 150%;
            left: 120%;
            opacity: 0;
            transition: all 2s;

            &::after{
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -0.5rem;
                border-width: 0.5rem;
                border-style: solid;
                border-color: $black transparent transparent transparent;
            }
        }

        .fb_color{
            &:hover{
                color: $fb_color;
            }
        }

        .tw_color{
            &:hover{
                color: #4099FF;
            }
        }

        .google_color{
            &:hover{
                color: #BA3F30;
            }
        }

        .youtube_color{
            &:hover{
                color: #cb2027;
            }
        }

        .pinterest_color{
            &:hover{
                color: #cb2027;
            }
        }

        .linkedin_color{
            &:hover{
                color: #007bb6;
            }
        }

        .instagram_color{
            &:hover{
                color: #125688;
            }
        }
    }

}


@media screen and (max-width:768px){
    
    .footer_box{
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .social_media, .copying{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    
}