#navbar{
  position: fixed;
  z-index: 99;
  width: 100%;
 
  .nav-title {
    // width: 100%;
    display: block;
    margin: 0;
    height: 60px;
    margin-bottom: 15px 0;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }

  .nav-left {
    float: left;
  }
  
  a {
    text-decoration: none;
  }
  
  .nav-fostrap {
    float: right;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: block;
    }
    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline-block;
      position: relative;
      font-size: 14px;
      color: #777;
      a {
        padding: 20px 20px;
        font-size: 16px;
        color: #777;
        display: inline-block;
        outline: 0;
        font-weight: 400;
      }
      &:hover ul.dropdown {
        display: block;
      }
      ul.dropdown {
        position: absolute;
        display: none;
        width: 200px;
        background-color: #DEB666;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        padding-top: 0;
        li {
          display: block;
          list-style-type: none;
          a {
            padding: 15px 20px;
            font-size: 12px;
            color: #777;
            display: block;
            font-weight: 400;
            &:hover {
              color: #fff;
            }
          }
          &:last-child a {
            border-bottom: none;
          }
        }
      }
      &:hover a {
        background-color: #fff;
        color: #DEB666;
      }
      &:first-child:hover a {
        border-radius: 3px 0 0 3px;
      }
      ul.dropdown li {
        &:hover a {
          background-color: rgba(0, 0, 0, 0.1);
        }
        &:first-child:hover a {
          border-radius: 0;
        }
      }
      &:hover .arrow-down {
        border-top: 5px solid #DEB666;
      }
    }
  }
  
  .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #777;
    position: relative;
    top: 10px;
    right: -5px;
    content: '';
  }
  
  .title-computer {
    float: left;
    padding: 10px;
    text-align: center;
  }
  
  .title-mobile {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    .title-computer {
      display: none;
    }
    /* 手機下拉選單背景顏色、位置    */
    .nav-fostrap {
      background: #fff;
      width: 200px;
      height: 100%;
      display: block;
      position: fixed;
      left: -200px;
      top: 5px;
      transition: left 0.25s ease;
      margin: 0;
      border: 0;
      border-radius: 0;
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
    }
    /*  手機標題位置   */
    .title-mobile {
      display: block;
      top: 10px;
      font-size: 20px;
      left: 100px;
      right: 100px;
      text-align: center;
      color: #FFF;
    }
    .nav-fostrap.visible {
      left: 0px;
      transition: left 0.25s ease;
    }
    /* 手機標題背景寬度 */
    .nav-bg-fostrap {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      height: 60px;
      margin: 0;
      position: absolute;
      top: 0px;
      left: 0px;
      background: #fff;
      /* 手機標題顏色 */
      padding: 12px 0 0 10px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }
    /* 手機漢堡列位置 */
    .navbar-fostrap {
      display: inline-block;
      vertical-align: middle;
      height: 50px;
      cursor: pointer;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      padding: 12px;
      span {
        height: 2px;
        margin: 7px;
        display: block;
        width: 20px;
        background-color: #777;
        &:nth-child(2) {
          width: 30px;
          background-color: #777;
        }
        &:nth-child(3) {
          width: 20px;
          background-color: #777;
        }
      }
    }
    /*   手機漢堡列大小、寬度、位置  */
    /*   手機漢堡列 2,3 */
    .nav-fostrap {
      ul {
        padding-top: 50px;
      }
      li {
        display: block;
        a {
          display: block;
          color: #777;
          /*  手機下拉選單字型顏色  */
          font-weight: 600;
        }
        &:first-child:hover a {
          border-radius: 0;
        }
        ul.dropdown {
          position: relative;
          li a {
            background: #fff;
            border-bottom: none;
            color: #777;
            font-size: 12px;
          }
        }
        &:hover a {
          background-color: #F5F5F5;
          color: #DEB666;
        }
        ul.dropdown li {
          &:hover a {
            background-color: #DEB666;
            color: #fff;
          }
          a {
            padding: 10px 10px 10px 30px;
          }
        }
        &:hover .arrow-down {
          border-top: 5px solid #DEB666;
        }
      }
    }
    /*  手機下拉選單的細項背景顏色  */
    /* 手機下單選單標題顏色與背景 */
    /*  手機下拉選單的細項滑過背景顏色  */
    .arrow-down {
      border-top: 5px solid #777;
      position: absolute;
      top: 25px;
      right: 10px;
    }
    .cover-bg {
      background: rgba(0, 0, 0, 0.5);
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  
  @media only screen and (max-width: 1920px) {
    .container {
      width: 100%;
    }
  }
  
  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
}
