#section_2{
    background-color: $bg_gray;

    .grid_container{
        width: 100%;

        .section_2_left{
            .section_2_box{
              padding: 1.5rem;
              .section_2_card{
                background-color: $white;
                .section_2_gallery{
                  border: 1px solid $border_light;
                  &:hover{
                    border: 1px solid $border_dark;
                  }
                  .section_2_top{
                  position: relative;
                  overflow: hidden;
                     img{
                      margin-left: 3rem;
                      -webkit-transform: scale(1.5);
                      transform: scaleX(1.5);
                      -webkit-transition: all 0.3s ease-in-out;
                      transition: all .3s ease-in-out;
                      width: 100%;
                      &:hover{
                        margin-left: 0;
                      }
                    }
                    .section_2_price{
                      position: absolute;
                      top: 1.5rem;
                      left: 1.5rem;
                      background-color: $white;
                      color: $title_color;
                      padding: 0.5rem 1rem;
                      font-size: 1.4rem;
                      cursor: pointer;
                      border-radius: 0.1rem;
                      z-index: 120;
                      font-weight: 700;
                      border: none;
                    }
                  }
                  .section_2_bottom{
                    padding: 3.5rem;
                    text-align: center;
                    font-weight: 700;
                    color: $title_color;
                    font-size: 1.6rem;
                  }
                }
              }
            }
          }
          
          .section_2_right{
            .section_2_box{
              .section_2_card{
              background-color: $white;
                .section_2_gallery{
                  border: 1px solid $border_light;
                  &:hover{
                    border: 1px solid $border_dark;
                  }
                  .section_2_top{
                  position: relative;
                  overflow: hidden;
                    img{
                      margin-left: 3rem;
                      -webkit-transform: scale(1.5);
                      transform: scale(1.5);
                      -webkit-transition: all 0.3s ease-in-out;
                      transition: all .3s ease-in-out;
                      width: 100%;
                      &:hover{
                        margin-left: 0;
                      }
                    }
                    .section_2_price{
                      position: absolute;
                      top: 1.5rem;
                      left: 1.5rem;
                      background-color: $white;
                      color: $title_color;
                      padding: 0.5rem 1rem;
                      font-size: 1.4rem;
                      cursor: pointer;
                      border-radius: 0.1rem;
                      z-index: 120;
                      font-weight: 700;
                      border: none;
                    }
                  }
                  .section_2_bottom{
                    padding: 1rem;
                    text-align: center;
                    font-weight: 700;
                    color: $title_color;
                    font-size: 1.6rem;
                  }
                }
              }
            }
        }         
    }

    .section_2_buttom{
        padding: 2rem 6rem;
        text-align: center;
    }
}

@media screen and (max-width: 768px){
    .title, .section_2_right, .section_2_left, .section_2_box {
      width: 100%;
    }

    #section_2{
        padding: 3rem 0;
        .title{
            padding-bottom: 0; 
        }
    }
}