#section_6{  
    .section_6_padding{
        // padding-left: 4.5rem;
        // padding-right: 4.5rem;
    }
  
    .section_6_card{
        background-color: $white;
      .gallery{
        border: 0.1rem solid $border_light;
        &:hover{
          border: 0.1rem solid $border_dark;
        }
        .section_6_top{
          img{
            width: 100%;
          }
        }
        .section_6_buttom{
          padding: 2rem;
          p{
            line-height: 2rem;
          }
          .date{
            font-size: 1.2rem;
            text-align: center;
          }
        }
      }
    }
  }  
    
  /* Shine */
  .section_6_card figure {
      position: relative;
  }
  .section_6_card figure::before {
      position: absolute;
      top: 0;
      left: -55%;
      z-index: 2;
      display: block;
      content: '';
      width: 50%;
      height: 100%;
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
      background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
      -webkit-transform: skewX(-1deg);
      transform: skewX(-1deg);
  }
  .section_6_card figure:hover::before {
      -webkit-animation: shine 0.75s;
      animation: shine 0.75s;
  }
  @-webkit-keyframes shine {
      100% {
          left: 55%;
      }
  }
  @keyframes shine {
      100% {
          left: 55%;
      }
  }
  
  @media screen and (max-width: 768px){
    .section_6_box{
      width: 100%;
    }
  }