*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Microsoft JhengHei', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    // background: #F1F3EE;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container.con{
    position: relative;
}

/* flex */
.flex-container{
    display: flex;
    padding: 15px;
    flex-direction: row;
}

@media screen and (max-width: 520px){
    .flex-container{
        flex-direction: column;
        padding: 0px;
    }
}


// 清除浮動
.clearfix{
    clear: both;
}

// 顏色
$maincolor:#597370;
$itemcolor:#484F47;
$black: #000;
$white:#fff;
$article: #F1F3EE;
$subscribe: #DDE4DC;

