nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  .logo-container {
    float: left;
    padding-top: 15px;
    a {
      display: inline-block;
      outline: none;
      color: $maincolor;
      font-size: 32px;
      text-decoration: none;
      letter-spacing: 4px;
      margin-right: 30px;
    }
  }
  .nav-container{
    padding-top: 20px;
  }
    ul {
      float: right;
      li {
        display: inline-block;
        float: left;
        &:not(:first-child) {
          margin-left: 25px;
        }
        a {
          display: inline-block;
          outline: none;
          color: $maincolor;
          font-size: 16px;
          text-decoration: none;
          letter-spacing: 2px;
          &:hover {
            color: #808080;
            text-decoration: none;
            border: 1px solid #000;
          }
        }
      }
    }
}

@media screen and (max-width: 520px) {
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: $maincolor;
    opacity: 0;
    transition: all 0.2s ease;
    ul {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;
        &:nth-child(1) a {
          transition-delay: 0.2s;
        }
        &:nth-child(2) a {
          transition-delay: 0.3s;
        }
        &:nth-child(3) a {
          transition-delay: 0.4s;
        }
        &:nth-child(4) a {
          transition-delay: 0.5s;
        }
        &:not(:first-child) {
          margin-left: 0;
        }
        a {
          padding: 10px 25px;
          opacity: 0;
          color: #fff;
          font-size: 24px;
          font-weight: 600;
          transform: translateY(-20px);
          transition: all 0.2s ease;
        }
      }
    }
  }
  .nav-logo-open {
    position: fixed;
    left: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 99;
  }
  .nav-open {
    position: fixed;
    right: 10px;
    top: 20px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
    i {
      display: block;
      width: 20px;
      height: 2px;
      background: $maincolor;
      border-radius: 2px;
      margin-left: 14px;
      &:nth-child(1) {
        margin-top: 16px;
      }
      &:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
      }
      &:nth-child(3) {
        margin-top: 4px;
      }
    }
  }
}

#nav:checked {
  + .nav-open {
    transform: rotate(45deg);
    i {
      background: #fff;
      transition: transform 0.2s ease;
      &:nth-child(1) {
        transform: translateY(6px) rotate(180deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-6px) rotate(90deg);
      }
    }
  }
  ~ .nav-container {
    z-index: 9990;
    opacity: 1;
    ul li a {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.hidden {
  display: none;
}