body{
    font-family: cwTeXFangSong;
    font-size: 24px;
}
.logo{
    width: 120px;
}

.navbar_bgcolor{
    background-color: rgba(125, 100, 170, 0.5);
}

.navbar_color:hover{
    color: blue;
}

/* 修改手機版漢堡列的顏色 */
.custom-toggler.navbar-toggler {
    border-color: white;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* 標題顏色 */
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
    font-size: 28px;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.navbar-nav{
    text-align: center;
    margin: 0;
}