html,
body {
    position: relative;
    height: 3000px;  /* 記得必須拿掉 */
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

/* section_navbar */
.logo{
    width: 100px;
}

.logo.show{
    width: 50px;
}

.navbar_bgcolor{
    background-color: rgba(125, 100, 170, 0.5);
    width: 100%;
}

.nav-link{
    font-size: 16px;
}

.navbar.fixed .nav-link{
    font-size:12px;
   
}

.navbar.fixed{
   background-color: rgb(125, 100, 170);
   height: 50px;
   transform: 0.10s; 
}

/* 修改手機版漢堡列的顏色 */
.custom-toggler.navbar-toggler {
    border-color: white;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* 標題顏色 */
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
} 

#section_banner.fixed {
    padding-top: 20px;
}

.navbar.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}


/* section_banner */
#section_banner {
    width: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    /* background-image: url("./img/coffee.png"); */
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}

/* 設定圖片大小 */
.banner_width_height {
    width: 100%;
    height: 100%;
}

/* 手機版 */
@media screen and (max-width: 375px) {
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    

}