@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #03a9f4;
}

.content {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(https://unsplash.it/1920/1200?image=579) no-repeat center center fixed;
  background-size: cover;
}

.button1 {
  position: absolute;
  height: 40px;
  width: 100px;
  background: white;
  right: 0;
  top: 0;
  cursor: pointer;
}

.button1 p {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%) translateY(-50%);
  color: black;
  -webkit-user-select: none;
  /* Chrome/Safari */
  
  -moz-user-select: none;
  /* Firefox */
  
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  
  -o-user-select: none;
  user-select: none;
}

.button2 {
  position: absolute;
  height: 40px;
  width: 100px;
  background: white;
  cursor: pointer;
  right: 0;
  top: 0;
}

.button2 p {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%) translateY(-50%);
  color: black;
  -webkit-user-select: none;
  /* Chrome/Safari */
  
  -moz-user-select: none;
  /* Firefox */
  
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  
  -o-user-select: none;
  user-select: none;
}

.overlay {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0,0,0);
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}

nav ul {
  font-size: 4em;
  list-style: none;
  margin-top: 5%;
}

nav ul li {
  margin-top: 1%;
}